.dashboard {
  display: flex;
  flex-direction: column;
  padding-block: 1.6rem;
  overflow: auto;
}

.dashboard::-webkit-scrollbar {
  display: none;
}

.dashboard header {
  display: flex;
  justify-content: space-between;
}
/* 
import Cards from '../cards/Cards';
import './MainDash.css';
import { BsSearch } from 'react-icons/bs';
import Overview from './../overview/Overview';
import Customers from './../customers/Customers';
import ProductSell from '../productSell/ProductSell';

const MainDash = () => {
  return (
    <div className="mainDash">
      <header>
        <div className="left">Hello Shahrukh 👋,</div>
        <div className="right">
          <BsSearch />
          <input type="text" placeholder="Search" />
        </div>
      </header>
      <Cards />
      <section className="middle">
        <Overview />
        <Customers />
      </section>
      <section className="bottom">
        <ProductSell />
      </section>
    </div>
  );
};

export default MainDash; */
